p {
  font-family: sans-serif;
}

H1 {
  background-color: grey
  color: DarkTurquoise;
  font-family: sans-serif }

H2, H3, H4 {
    background-color: grey
    color: DarkTurquoise;
    font-family: sans-serif }

#project-title {
    text-transform: capitalize;
}

.assignment {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
