p {
  font-family: sans-serif;
}

H1 {
  color: darkturquoise;
  font-family: sans-serif }

H2, H3, H4 {
    color: darkturquoise;
    font-family: sans-serif }

#project-title {
    text-transform: capitalize;
}

.assignment {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

div 2 {
      border-top: double;
}
